*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  color: #0f594d;
  background-color: #f2e6cd;
  
}

.cd-header {
  height: 100%;
  background-color: #3b557c;
  box-shadow: 100px 10px 100px 10px rgb(228, 192, 74);
  border: 50px solid rgb(175, 124, 124);
  z-index: 1;
}
.cd-header h1 {
  width: 90%;
  font-size: 55px;
  color: #f2e6cd;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  font-family: 'Permanent Marker', cursive;

  left: 70%;
  top: 30%;
  bottom: auto;
 right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.hello{
  font-size: 30px;
  margin-top: 10cm;
  margin-left: 18cm;
  color: #db9537;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 4px;


}
.hello h3{
  padding-bottom:25px;
  font-size: 30px;
}

.span{
  font-size: 25px;
}
.foto{
margin-top: -12cm;
}
.hello h4{
  padding-bottom: 25px;
}
a{
  text-decoration: none;
  color:#db9537;
  padding-top: 25px;
  font-size: 20px;
}


.cd-fixed-background {
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.cd-fixed-background h4 {
  color: #f2e6cd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-fixed-background h6 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}
.cd-fixed-background p {
  line-height: 1.6;
  font-family: "Merriweather", serif;
}
.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
  color: #0f594d;
}
.cd-fixed-background .cd-content::after {
  content: '';
  display: block;
  width: 100%;
  padding: 60% 0;
  margin: 2em auto 0;
}
.cd-fixed-background.img-1 {
  background-color: rgb(175, 124, 124);
  border: 50px solid #3b557c;
}
.photos1 img{
  margin-left: 500px;
  margin-top: 10px;
  height: 600px;
  width: 900px;
}

.cd-content h4 {
  font-size: 40px;
  color:black;
  margin-left:-120px;
}
.cd-content h6{
  font-size: 30px;
  color:black;
}
.cd-fixed-background.img-2 {
  background-color:#3b557c;
  border: 50px solid  rgb(175, 124, 124);
}
#prosto{
  margin-top: 380px;
  margin-left: -650px;
}
.bunny3{
  margin-top: 30px;
  margin-left: 690px;
}
.bunny-bye{
  margin-top: -300px;
  margin-left: 30px;
}
.bunny-bye h1{
  font-size: 34px;
  color: #db9537;
}
.bunny-bye h4{
  font-size: 25px;
  margin-left: 100px;
}
.cd-fixed-background.img-2 .cd-content::after {
  background-size: 100% auto;
}
.cd-fixed-background.img-3 {
  background-color: rgb(175, 124, 124);
  border: 50px solid #3b557c;
}
.column {
  float: left;
  width: 25%;
 padding: 0 8px;
}
#textes{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.938);
}
#textes1{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.938);
}
#textes2{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.938)
}
#textes3{
  font-size: 37px;
  color: rgba(255, 255, 255, 0.938);
}
#textes4{
  font-size: 30px;
  color:rgba(255, 255, 255, 0.938);
}
#textes5{
  font-size: 25px;
  color:mintcream;
}

.cd-fixed-background.img-3 .cd-content::after {
  
  background-size: 100% auto;
}
.cd-fixed-background.img-4 {
  border: 50px solid rgb(175, 124, 124);
  background-color: #3b557c;
}
.cd-fixed-background.img-4 .cd-content::after {
 
  background-size: 100% auto;
}
.about-info h1{
  font-size: 60px;
  color:rgb(204, 233, 218);
  margin-left: 500px;
}
.about-info p{
  font-size: 25px;
  color:mintcream;
  margin-left: 50px;
}
.about-img-wrapper{
  margin-left: 920px;
  margin-top: -100px;
}
.ending-part{
  height : 750px;
  width: 100%;
  border: 50px solid #3b557c;
  background-color: rgb(175, 124, 124);
}
.ending h1{
  margin-top: -300px;
  font-size: 60px;
  color:mintcream;
  margin-left:400px;
 
}
.ending h3{
  font-size: 40px;
  color:mintcream;
  margin-left: 600px;
}
.ending h6{
  font-size: 20px;
  color: mintcream;
  margin-top: 300px;
}
@media only screen and (min-width: 768px) {
  .cd-fixed-background {
    height: 100%;
    padding: 0;
  }
  .cd-fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .cd-fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .cd-fixed-background .cd-content {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-fixed-background .cd-content::after {
    display: none !important;
  }
  .cd-fixed-background.img-1 {
    
  }
  .cd-fixed-background.img-2 {
    
  }
  .cd-fixed-background.img-3 {
    
  }
  .cd-fixed-background.img-4 {
    
  }
}
@media only screen and (min-width: 1048px) {
  .cd-fixed-background {
    background-attachment: fixed;
  }
  .cd-fixed-background .cd-content {
    width: 40%;
    left: 10%;
  }
}

.cd-vertical-nav {
  position: fixed;
  z-index: 2;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(../img/cd-icon-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1200px) {
  .cd-vertical-nav {
    display: block;
  }
}

.no-js .cd-vertical-nav {
  display: none;
}
